/*Add same syling to keypoint box */
div .framed {color: black; 
    border-width: 1px; 
    border-style: solid;
    border-color: black;
    padding: 10px;
    background-color: #f0fff0;
    border-radius: 10px 10px 10px 10px;
    margin: 20px;
    max-width: 40em;} /* Added this so the box desn't exend across the screen */
/* This is to fit box with contents */
div .framed * {width: fit-content;
    width: -moz-fit-content;}

/* Acessibility fixes */
/* Make link darker */
.framed a:link {color: black;}

/* Up the contrast in the answer button */
.btn-success {background-color: #1E8414;}
.btn-success:hover {background-color: #1E8414;}

/* links to accessiblity contrast */
a {
    color: #337ab7;
    text-decoration: none;
}
    